button:hover {
  transform: scale(1.04, 1);
  background-color: rgb(10, 140, 226);
}
button {
  font-family: "Bungee";
  background-color: #2f59a8;
  color: rgba(255, 255, 255, 0.829);
}
form {
  display: flex;
  flex-direction: column;
}
.tweet-margin {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 10px;
}
.new-tweet {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
#tweet-text {
  opacity: 60%;
  border: none;
  border-bottom: 5px solid rgb(0, 0, 0);
}
.counter {
  float: right;
  padding-right: 10px;
  font-family: "Bungee";
}
.overflow {
  color: rgb(251, 35, 35);
}
#tweetContainer {
  width: 40rem;
  margin: 0 auto;
}
article:hover {
  transform: scale(1.04, 1);
  box-shadow: #e90b81;
}
article {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: 4px solid black;
  color: rgb(0, 0, 0);
  margin: 10px;
}
.secondHeader {
  height: 50px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tweetDiv {
  display: flex;
  align-items: center;
}
#uName {
  float: left;
  align-self: flex-start;
}
#atName {
  display: flex;
  justify-content: space-between;
}
#tweetBody {
  padding-top: 15px;
  margin-left: 10px;
}
#tweetDiv {
  margin: 12px;
}
.divTweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}
#flag:hover {
  color: goldenrod;
}
#heart:hover {
  color: red;
}
#sendAgain:hover {
  color: rgb(23, 78, 180);
}
#errorPrompt {
  margin-bottom: 10px;
  color: red;
}
